<form class="well" [formGroup]="group">
  <h2>Enter a zipcode:</h2>
  <input type="text" formControlName="zip" placeholder="Zipcode" class="form-control">
  <br>
  <app-country-select-input formControlName="country" [countries]="countries()" (countryChange)="selectedCountry = $event"></app-country-select-input>
  <br>
  <app-button (click)="addLocation()">
    <ng-container #container></ng-container>
  </app-button>
</form>

<!-- template for button -->
<ng-template #add>
  <button class="btn btn-primary">
    Add location
  </button>
</ng-template>
<ng-template #adding>
  <button class="btn btn-info">
    Adding ...
  </button>
</ng-template>
<ng-template #done>
  <button class="btn btn-success">
    Done
  </button>
</ng-template>
<ng-template #failed>
  <button class="btn btn-danger">
    Add location (Invalid)
  </button>
</ng-template>
